doctype
html
	head
		meta(name='viewport', content='width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0')
		meta(charset='utf-8')
		title Game
		
	body
		#content
			canvas#canvas(width='900' height='520')
			#info
				div
					span Game Controls:
					div.key W
					span ,
					div.key E
					span(style='margin:0 20px;')
					span Restart:
					div.key R
				div
					a(href='https://github.com/scars377/ld34_compo/') github
					span(style='margin:0 10px;')||
					a(href='http://ludumdare.com/compo/ludum-dare-34/?action=preview&uid=45950') Ludum Dare Entry
		
		script(src='https://code.createjs.com/easeljs-0.8.2.min.js')
		script(src='js/app.js')
