doctype
html
	head
		meta(name='viewport', content='width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0')
		meta(charset='utf-8')
		title Game
		
	body
		#content
			canvas#canvas(width='900' height='480')
			#info
				div
					span 2 buttons:
					div.key W
					span ,
					div.key E
				div
					div.key R
					span to restart
				div
					a(href='https://github.com/scars377/ld34_compo/') github
		
		script(src='https://code.createjs.com/easeljs-0.8.2.min.js')
		script(src='js/app.js')
		
