html
	head
		style.
			div{
				display:inline-block;
				margin:0 20px;
			}
			img{
				display:block;
			}
	body
		div
			img(src='img/bar1.png')
			img(src='img/bar1.png')
			img(src='img/bar1.png')
			img(src='img/bar1.png')
			img(src='img/bar1.png')
			img(src='img/bar1.png')
			img(src='img/bar1.png')
			img(src='img/bar1.png')
			img(src='img/bar1.png')
			img(src='img/bar1.png')
			img(src='img/bar1.png')
			img(src='img/bar1.png')
			img(src='img/bar1.png')
			img(src='img/bar1.png')
			
		div
			img(src='img/bar2.png')
			img(src='img/bar2.png')
			img(src='img/bar2.png')
			img(src='img/bar2.png')
			img(src='img/bar2.png')
			img(src='img/bar2.png')
			img(src='img/bar2.png')
			img(src='img/bar2.png')
			img(src='img/bar2.png')
			img(src='img/bar2.png')
			img(src='img/bar2.png')
			img(src='img/bar2.png')
			img(src='img/bar2.png')
			img(src='img/bar2.png')
		
